body {
    margin: 0 auto;
    font-family: 'Helvetica Neue';
    box-sizing: border-box;
}

/* ======== TITLE ========== */

h1 {
    text-align: center;
    /* background: rgb(33, 201, 173); */
    background: rgb(57, 156, 223);

    color: white;
    padding: 20px;
    font-size: 28px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

#time {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    box-shadow: 0px 4px 20px -1px darkslategray;

}

/* ======== SCHEDULE DISPLAY ========== */

#schedule-display {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 0px 5px 20px -7px black;
    /* border-bottom: 10px solid rgb(49, 121, 143); */
}


#current-schedule {
    color: darkslategray;
    background: lightgray;
    /* background: linear-gradient(to top left, darkgray, black); */
    padding: 10px;
    text-align: center;
    border-radius: none;
    letter-spacing: 5px;
}

#schedule-div {
    line-height: 0.75;
}

#schedule-item {
    background-color: rgb(236, 235, 235);
    padding: 50px 20px 20px 20px;
    margin: 10px;
    border-radius: none;
}

tr:nth-child(even) {
    /* background: rgb(179, 233, 223); */
    background: rgb(182, 221, 233);

    color: black;
}

#schedule-titles {
    letter-spacing: 3px;
    text-align: center;
    font-size: 14px;
    color: rgb(34, 158, 196);

}

td {
    letter-spacing: 3px;
    text-align: center;
    font-size: 14px;
}


.container {
    margin-bottom: 30px;
}

#editButton,
#removeButton {
    background: gray;
    color: white;
    border: none;
    border-radius: 0;
    letter-spacing: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    width: 90px;

}



/* ======== SEARCH DISPLAY ========== */

.search-div {
    margin: 30px 0px;
    margin: 0 auto;
    /* box-shadow: 0px 5px 20px -5px black; */
    box-shadow: 0px 2px 10px -5px black;
    border: 0.5px solid lightgray;

    background: lightgray;
    color: black;
}

.search-div p {
    color: white;
    background: gray;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    border-radius: none;
    letter-spacing: 5px;
    width: 100%;
}

.search-div form {
    padding: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}

.form-group input {
    border-radius: 0px;

}

label {
    font-weight: bold;
    margin-bottom: 2px;
}

#submit {
    /* background: rgb(33, 201, 173); */
    background: rgb(57, 156, 223);

    border: none;
    border-radius: 0;
    letter-spacing: 3px;
}



/* ======== GOOGLE MAPS DISPLAY ========== */
.google-maps {
    /* box-shadow: 0px 5px 20px -5px black; */
    border: 0.5px solid lightgray;
    box-shadow: 0px 2px 10px -5px black;
    background: white;
    position: relative;
}

#google-maps-title {
    color: darkslategray;
    background: lightgray;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    border-radius: none;
    letter-spacing: 3px;
    width: 100%;
}

#google-maps-display {
    position: absolute;
    border: 1px solid black;
    top: 65px;
    left: 0px;
}





/* ============ LOGIN ============ */

#firebaseui-auth-container {
    margin-top: 150px;
}

#btnLogin {
    background: gray;
    color: white;
    box-shadow: 2px 5px 20px -1px slategray;
    font-size: 12px;
    width: 250px;
    margin-right: 50px;
    border-radius: 0;
    letter-spacing: 5px;
}



#submit-button,
#btnSignUp {
    background: black;
    color: white;
    box-shadow: 2px 5px 20px -1px slategray;
    font-size: 12px;
    width: 250px;
    margin-right: 50px;
    border-radius: 0;
    letter-spacing: 5px;
}


#top-bar {
    position: relative;
}

#btnLogout {
    position: absolute;
    top: 8px;
    right: 20px;
    background: white;
    color: black;
    /* box-shadow: 2px 5px 20px -1px slategray; */
    font-size: 12px;
    width: 150px;
    border-radius: 0;
    letter-spacing: 5px;
}



.login {
    height: 350px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 10px -5px black;
    padding-top: 65px;
}

.login p {
    margin-bottom: 10px;
    letter-spacing: 3px;
}

#txtEmail,
#txtPassword {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}

/* #btnLogin {
    margin-top: 20px;
} */

#btnLogin,
#btnSignUp {
    margin-bottom: 10px;
    padding: 10px;
}

.login-body {
    margin-top: 100px;
}


